body {
  margin: 100px 20px;
  font: 14px Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 4em;
  line-height: 1em;
}

h1 span {
  font-size: 8em;
  line-height: 0;
  color: #e8b141;
  vertical-align: -0.3em;
}
